#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  margin-right: 5px;
  color: var(--grayOp-color);
}

.friends-screen__channel,
.friends-screen__favorites {
  margin-top: 25px;
  border-top: var(--blackOp-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--grayOp5-color);
}

.user-music {
  margin-left: 100px;
  width: 230px;
  height: 35px;
  background: linear-gradient(
    to right,
    rgb(0, 204, 0),
    rgb(255, 255, 255),
    rgb(0, 204, 0),
    rgb(255, 255, 255),
    rgb(0, 204, 0)
  );
  background-size: 400%;
  border: 1px solid rgb(0, 204, 0);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-music p {
  margin: 0 5px;
  color: black;
  font-weight: lighter;
}

.user-music i {
  margin: 0 5px;
  color: rgb(0, 173, 0);
}

.user-music:hover {
  animation: flowColor 10s linear infinite;
}

@keyframes flowColor {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: 400%;
  }
}
